{% extends 'questions/layout/base_unauthorized.html' %}
{% load static %}

{% block title %}World Wide Wopros{% endblock %}

{% block content %}
<div class="content__sections">
    <div>
        <ul class="content__list">
            <li>
                <p id="main__titles">Registration</p>
            </li>
        </ul>
    </div>

    <div class="content__center"></div>

        <p id="email__error">{{ error }}</p>

    <div class="content__wrapper" id="register">
        <form method="post" style="display:contents;">
            <span style="display:none;">{% csrf_token %}</span>

            <p class="content__label">Login:</p>
            <span>
                {{ form.username }}
                {% if form.username.errors %}<span class="error">{{ form.username.errors }}</span>{% endif %}
            </span>

            <p class="content__label">Email:</p>
            <span>
                {{ form.email }}
                {% if form.email.errors %}<span class="error">{{ form.email.errors }}</span>{% endif %}
            </span>

            <p class="content__label">NickName:</p>
            <span>
                {{ form.nickname }}
                {% if form.nickname.errors %}<span class="error">{{ form.nickname.errors }}</span>{% endif %}
            </span>

            <p class="content__label">Password:</p>
            <span>
                {{ form.password1 }}
                {% if form.password1.errors %}<span class="error">{{ form.password1.errors }}</span>{% endif %}
            </span>

            <p class="content__label">Repeat password:</p>
            <span>
                {{ form.password2 }}
                {% if form.password2.errors %}<span class="error">{{ form.password2.errors }}</span>{% endif %}
            </span>

            <div></div>
            <button type="submit" class="btn btn-success" style="width: 70px;">register</button>
        </form>
    </div>
</div>
{% endblock %}